/*modal*/


            #modalBG{
                /*display: none;*/
                position : fixed;
                width: 600px;
                height: 400px;
                /*position: absolute;
                top: 250%;
                left:40%;*/
                display:flex;
                top : 30%;
                align-items: center;
                justify-content: center;
                z-index:1000;
                border-radius: 30px;
                background-image: url("../image/bg_modal.png");
            }
            .modal{
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
            }
            .modal-img{
                width: 110px;
                height: 112px;
            }
            .modalP {
                font-weight: 700;
                font-size: 36px;
                line-height: 45px;
                text-align: center;
                color:#D97652;
            }
            .modalP2{
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
            }
            .btn-modalClose{
                width: 183px;
                height: 50px;
                margin-top: 20px;
                border: none;
                border-radius: 40px;
                background-color: #D97652;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #ffffff;
            }

.btn-modalOpen, .btn-modalClose{
        cursor: pointer;
}

#modalBG.hidden {
    display: none;
}

